/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 70%;
    margin: 5px auto;
}
header {
    width: 100%;
}
.mb-20 {
    margin-bottom: 20px;
}
.float {
    float: left;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.gray {
    color: #929292;
}



/* header top*/
#logo-container img {
    height: 50px;
    padding-right: 20px;
    border-right: 1px solid darkgray;
}
.navbar {
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: darkgray;
}



/* header bottom */
.header-bottom {
    height: 380px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
} 
.jumbo-content {
    width: 60%;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 40px;
    z-index: 1;
} 
.jumbo-title {
    font-size: 25px;
    font-weight: 500;
}
.jumbo-text {
    font-size: 13px;
}



/* main */
.col-left, .col-right {
    width: 25%;
}
.col-center {
    width: 46%;
    margin: 0 2%;
}
.col-img {
    position: relative;
}
.col-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}
.col-title h3{
    font-weight: 300;
    margin: 15px 0 10px 0;
}
.main-title {
    margin-bottom: 40px;
}



/* footer */
footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}
footer div {
    text-align: center;
}
span.hearts {
    color: red;
}



/* overlay */
.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 8px;
} 